<h1><%= @sub.title %></h1>

<b>Description</b>
<p><%= @sub.description%></p>

<a href="new_post_url">Make a New Post!</a>

<ul>
    <% @sub.posts.each do |post| %>
        <li> <a href="<%= post_url(post) %>"><%= post.title %></a></li>
    <% end %>
</ul>

<% if @sub.moderator == current_user %>
    <a href="<%= edit_sub_url(@sub)%>">Edit this Sub</a>
<% end %>
